# Virtual Environment
venv/
env/
ENV/
.env
.venv
env.bak/
venv.bak/

# Ignore all folders with a specific name (anywhere in the repository)
**/aphasia/
venv/
whisper/
run_in_cluster/
output/
tokenization/

# Ignore specific file types
*.mp4
*.cha
*.mp3
*.zip

# Ignore DS_Store
.DS_Store


